web/WEB-INF/wsdl/localhost_8080/iejsaLN_DIRECTORIO/factimeLogicaNegocio_directorio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ln.factime.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ln.factime.com/" name="factimeLogicaNegocio_directorio">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ln.factime.com/" schemaLocation="http://localhost:8080/iejsaLN_DIRECTORIO/factimeLogicaNegocio_directorio?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ServicioWeb.factime.com/" schemaLocation="http://localhost:8080/iejsaLN_DIRECTORIO/factimeLogicaNegocio_directorio?xsd=2"/>
</xsd:schema>
</types>
<message name="ModificarProducto">
<part name="parameters" element="tns:ModificarProducto"/>
</message>
<message name="ModificarProductoResponse">
<part name="parameters" element="tns:ModificarProductoResponse"/>
</message>
<message name="modificarEmpleado">
<part name="parameters" element="tns:modificarEmpleado"/>
</message>
<message name="modificarEmpleadoResponse">
<part name="parameters" element="tns:modificarEmpleadoResponse"/>
</message>
<message name="ListarEmpleados">
<part name="parameters" element="tns:ListarEmpleados"/>
</message>
<message name="ListarEmpleadosResponse">
<part name="parameters" element="tns:ListarEmpleadosResponse"/>
</message>
<message name="ingresarCliente">
<part name="parameters" element="tns:ingresarCliente"/>
</message>
<message name="ingresarClienteResponse">
<part name="parameters" element="tns:ingresarClienteResponse"/>
</message>
<message name="ingresarProducto">
<part name="parameters" element="tns:ingresarProducto"/>
</message>
<message name="ingresarProductoResponse">
<part name="parameters" element="tns:ingresarProductoResponse"/>
</message>
<message name="listarEmpleado">
<part name="parameters" element="tns:listarEmpleado"/>
</message>
<message name="listarEmpleadoResponse">
<part name="parameters" element="tns:listarEmpleadoResponse"/>
</message>
<message name="ProductoscomoEmp">
<part name="parameters" element="tns:ProductoscomoEmp"/>
</message>
<message name="ProductoscomoEmpResponse">
<part name="parameters" element="tns:ProductoscomoEmpResponse"/>
</message>
<message name="ProductosBuscar">
<part name="parameters" element="tns:ProductosBuscar"/>
</message>
<message name="ProductosBuscarResponse">
<part name="parameters" element="tns:ProductosBuscarResponse"/>
</message>
<message name="getDetalles">
<part name="parameters" element="tns:getDetalles"/>
</message>
<message name="getDetallesResponse">
<part name="parameters" element="tns:getDetallesResponse"/>
</message>
<message name="subtotalFactura">
<part name="parameters" element="tns:subtotalFactura"/>
</message>
<message name="subtotalFacturaResponse">
<part name="parameters" element="tns:subtotalFacturaResponse"/>
</message>
<message name="borraDetalle">
<part name="parameters" element="tns:borraDetalle"/>
</message>
<message name="borraDetalleResponse">
<part name="parameters" element="tns:borraDetalleResponse"/>
</message>
<message name="sumaDetalles">
<part name="parameters" element="tns:sumaDetalles"/>
</message>
<message name="sumaDetallesResponse">
<part name="parameters" element="tns:sumaDetallesResponse"/>
</message>
<message name="listarFactura">
<part name="parameters" element="tns:listarFactura"/>
</message>
<message name="listarFacturaResponse">
<part name="parameters" element="tns:listarFacturaResponse"/>
</message>
<message name="getClientesTodos">
<part name="parameters" element="tns:getClientesTodos"/>
</message>
<message name="getClientesTodosResponse">
<part name="parameters" element="tns:getClientesTodosResponse"/>
</message>
<message name="getClientes">
<part name="parameters" element="tns:getClientes"/>
</message>
<message name="getClientesResponse">
<part name="parameters" element="tns:getClientesResponse"/>
</message>
<message name="getDetallesVer">
<part name="parameters" element="tns:getDetallesVer"/>
</message>
<message name="getDetallesVerResponse">
<part name="parameters" element="tns:getDetallesVerResponse"/>
</message>
<message name="getFacturas">
<part name="parameters" element="tns:getFacturas"/>
</message>
<message name="getFacturasResponse">
<part name="parameters" element="tns:getFacturasResponse"/>
</message>
<message name="Productos">
<part name="parameters" element="tns:Productos"/>
</message>
<message name="ProductosResponse">
<part name="parameters" element="tns:ProductosResponse"/>
</message>
<message name="buscarComprass">
<part name="parameters" element="tns:buscarComprass"/>
</message>
<message name="buscarComprassResponse">
<part name="parameters" element="tns:buscarComprassResponse"/>
</message>
<message name="getEmpleados">
<part name="parameters" element="tns:getEmpleados"/>
</message>
<message name="getEmpleadosResponse">
<part name="parameters" element="tns:getEmpleadosResponse"/>
</message>
<message name="Empleado1">
<part name="parameters" element="tns:Empleado1"/>
</message>
<message name="Empleado1Response">
<part name="parameters" element="tns:Empleado1Response"/>
</message>
<message name="aa">
<part name="parameters" element="tns:aa"/>
</message>
<message name="aaResponse">
<part name="parameters" element="tns:aaResponse"/>
</message>
<message name="modificarCliente">
<part name="parameters" element="tns:modificarCliente"/>
</message>
<message name="modificarClienteResponse">
<part name="parameters" element="tns:modificarClienteResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="buscarProveedor">
<part name="parameters" element="tns:buscarProveedor"/>
</message>
<message name="buscarProveedorResponse">
<part name="parameters" element="tns:buscarProveedorResponse"/>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"/>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"/>
</message>
<message name="ingresarMarca">
<part name="parameters" element="tns:ingresarMarca"/>
</message>
<message name="ingresarMarcaResponse">
<part name="parameters" element="tns:ingresarMarcaResponse"/>
</message>
<message name="buscarClientes">
<part name="parameters" element="tns:buscarClientes"/>
</message>
<message name="buscarClientesResponse">
<part name="parameters" element="tns:buscarClientesResponse"/>
</message>
<message name="NumeroFactura">
<part name="parameters" element="tns:NumeroFactura"/>
</message>
<message name="NumeroFacturaResponse">
<part name="parameters" element="tns:NumeroFacturaResponse"/>
</message>
<message name="listarMarcas">
<part name="parameters" element="tns:listarMarcas"/>
</message>
<message name="listarMarcasResponse">
<part name="parameters" element="tns:listarMarcasResponse"/>
</message>
<message name="ingresarFactura">
<part name="parameters" element="tns:ingresarFactura"/>
</message>
<message name="ingresarFacturaResponse">
<part name="parameters" element="tns:ingresarFacturaResponse"/>
</message>
<message name="ingresarCompra">
<part name="parameters" element="tns:ingresarCompra"/>
</message>
<message name="ingresarCompraResponse">
<part name="parameters" element="tns:ingresarCompraResponse"/>
</message>
<message name="listarProveedor1">
<part name="parameters" element="tns:listarProveedor1"/>
</message>
<message name="listarProveedor1Response">
<part name="parameters" element="tns:listarProveedor1Response"/>
</message>
<message name="elimibarRutaImgP">
<part name="parameters" element="tns:elimibarRutaImgP"/>
</message>
<message name="elimibarRutaImgPResponse">
<part name="parameters" element="tns:elimibarRutaImgPResponse"/>
</message>
<message name="ingresarImgP">
<part name="parameters" element="tns:ingresarImgP"/>
</message>
<message name="ingresarImgPResponse">
<part name="parameters" element="tns:ingresarImgPResponse"/>
</message>
<message name="autenticacionCliente">
<part name="parameters" element="tns:autenticacionCliente"/>
</message>
<message name="autenticacionClienteResponse">
<part name="parameters" element="tns:autenticacionClienteResponse"/>
</message>
<message name="autenticacionEmpleado">
<part name="parameters" element="tns:autenticacionEmpleado"/>
</message>
<message name="autenticacionEmpleadoResponse">
<part name="parameters" element="tns:autenticacionEmpleadoResponse"/>
</message>
<message name="TestModificarEmpleado">
<part name="parameters" element="tns:TestModificarEmpleado"/>
</message>
<message name="TestModificarEmpleadoResponse">
<part name="parameters" element="tns:TestModificarEmpleadoResponse"/>
</message>
<message name="ingresarProveedor">
<part name="parameters" element="tns:ingresarProveedor"/>
</message>
<message name="ingresarProveedorResponse">
<part name="parameters" element="tns:ingresarProveedorResponse"/>
</message>
<message name="ingresarProcedencia">
<part name="parameters" element="tns:ingresarProcedencia"/>
</message>
<message name="ingresarProcedenciaResponse">
<part name="parameters" element="tns:ingresarProcedenciaResponse"/>
</message>
<message name="listarProcedencias">
<part name="parameters" element="tns:listarProcedencias"/>
</message>
<message name="listarProcedenciasResponse">
<part name="parameters" element="tns:listarProcedenciasResponse"/>
</message>
<message name="mejorcompraClientes">
<part name="parameters" element="tns:mejorcompraClientes"/>
</message>
<message name="mejorcompraClientesResponse">
<part name="parameters" element="tns:mejorcompraClientesResponse"/>
</message>
<message name="ListarProductosCompra">
<part name="parameters" element="tns:ListarProductosCompra"/>
</message>
<message name="ListarProductosCompraResponse">
<part name="parameters" element="tns:ListarProductosCompraResponse"/>
</message>
<message name="listarFacturasActivasAbastece">
<part name="parameters" element="tns:listarFacturasActivasAbastece"/>
</message>
<message name="listarFacturasActivasAbasteceResponse">
<part name="parameters" element="tns:listarFacturasActivasAbasteceResponse"/>
</message>
<message name="listarFacturasconComprasAltas">
<part name="parameters" element="tns:listarFacturasconComprasAltas"/>
</message>
<message name="listarFacturasconComprasAltasResponse">
<part name="parameters" element="tns:listarFacturasconComprasAltasResponse"/>
</message>
<message name="listarFacturasAnuladas">
<part name="parameters" element="tns:listarFacturasAnuladas"/>
</message>
<message name="listarFacturasAnuladasResponse">
<part name="parameters" element="tns:listarFacturasAnuladasResponse"/>
</message>
<message name="listarProveedores">
<part name="parameters" element="tns:listarProveedores"/>
</message>
<message name="listarProveedoresResponse">
<part name="parameters" element="tns:listarProveedoresResponse"/>
</message>
<message name="listarFacturasporFecha">
<part name="parameters" element="tns:listarFacturasporFecha"/>
</message>
<message name="listarFacturasporFechaResponse">
<part name="parameters" element="tns:listarFacturasporFechaResponse"/>
</message>
<message name="listarProductosMasVendidos">
<part name="parameters" element="tns:listarProductosMasVendidos"/>
</message>
<message name="listarProductosMasVendidosResponse">
<part name="parameters" element="tns:listarProductosMasVendidosResponse"/>
</message>
<message name="listarComprasAnuladas">
<part name="parameters" element="tns:listarComprasAnuladas"/>
</message>
<message name="listarComprasAnuladasResponse">
<part name="parameters" element="tns:listarComprasAnuladasResponse"/>
</message>
<message name="ListarProductosFactura">
<part name="parameters" element="tns:ListarProductosFactura"/>
</message>
<message name="ListarProductosFacturaResponse">
<part name="parameters" element="tns:ListarProductosFacturaResponse"/>
</message>
<message name="modificarProveedor">
<part name="parameters" element="tns:modificarProveedor"/>
</message>
<message name="modificarProveedorResponse">
<part name="parameters" element="tns:modificarProveedorResponse"/>
</message>
<message name="CambiarEstadoFactura">
<part name="parameters" element="tns:CambiarEstadoFactura"/>
</message>
<message name="CambiarEstadoFacturaResponse">
<part name="parameters" element="tns:CambiarEstadoFacturaResponse"/>
</message>
<message name="CambiarEstadoFacturaAbastece">
<part name="parameters" element="tns:CambiarEstadoFacturaAbastece"/>
</message>
<message name="CambiarEstadoFacturaAbasteceResponse">
<part name="parameters" element="tns:CambiarEstadoFacturaAbasteceResponse"/>
</message>
<message name="listarEmpleadoTiempo">
<part name="parameters" element="tns:listarEmpleadoTiempo"/>
</message>
<message name="listarEmpleadoTiempoResponse">
<part name="parameters" element="tns:listarEmpleadoTiempoResponse"/>
</message>
<message name="listarFacturasNoAnuladas">
<part name="parameters" element="tns:listarFacturasNoAnuladas"/>
</message>
<message name="listarFacturasNoAnuladasResponse">
<part name="parameters" element="tns:listarFacturasNoAnuladasResponse"/>
</message>
<message name="ModificarEmpleadoB">
<part name="parameters" element="tns:ModificarEmpleadoB"/>
</message>
<message name="ModificarEmpleadoBResponse">
<part name="parameters" element="tns:ModificarEmpleadoBResponse"/>
</message>
<message name="getFacturaIdVer">
<part name="parameters" element="tns:getFacturaIdVer"/>
</message>
<message name="getFacturaIdVerResponse">
<part name="parameters" element="tns:getFacturaIdVerResponse"/>
</message>
<message name="ListarClientes">
<part name="parameters" element="tns:ListarClientes"/>
</message>
<message name="ListarClientesResponse">
<part name="parameters" element="tns:ListarClientesResponse"/>
</message>
<message name="getProductos">
<part name="parameters" element="tns:getProductos"/>
</message>
<message name="getProductosResponse">
<part name="parameters" element="tns:getProductosResponse"/>
</message>
<message name="ListarClientesFactura">
<part name="parameters" element="tns:ListarClientesFactura"/>
</message>
<message name="ListarClientesFacturaResponse">
<part name="parameters" element="tns:ListarClientesFacturaResponse"/>
</message>
<message name="getProductosFactura">
<part name="parameters" element="tns:getProductosFactura"/>
</message>
<message name="getProductosFacturaResponse">
<part name="parameters" element="tns:getProductosFacturaResponse"/>
</message>
<message name="getFacturasCli">
<part name="parameters" element="tns:getFacturasCli"/>
</message>
<message name="getFacturasCliResponse">
<part name="parameters" element="tns:getFacturasCliResponse"/>
</message>
<message name="getFacturasVer">
<part name="parameters" element="tns:getFacturasVer"/>
</message>
<message name="getFacturasVerResponse">
<part name="parameters" element="tns:getFacturasVerResponse"/>
</message>
<message name="listarMasFrecuentesCliente">
<part name="parameters" element="tns:listarMasFrecuentesCliente"/>
</message>
<message name="listarMasFrecuentesClienteResponse">
<part name="parameters" element="tns:listarMasFrecuentesClienteResponse"/>
</message>
<message name="getClientesFactura">
<part name="parameters" element="tns:getClientesFactura"/>
</message>
<message name="getClientesFacturaResponse">
<part name="parameters" element="tns:getClientesFacturaResponse"/>
</message>
<message name="ListarProductoFactura">
<part name="parameters" element="tns:ListarProductoFactura"/>
</message>
<message name="ListarProductoFacturaResponse">
<part name="parameters" element="tns:ListarProductoFacturaResponse"/>
</message>
<message name="ingresarDetalleFactura">
<part name="parameters" element="tns:ingresarDetalleFactura"/>
</message>
<message name="ingresarDetalleFacturaResponse">
<part name="parameters" element="tns:ingresarDetalleFacturaResponse"/>
</message>
<message name="ListarDetalleFactura">
<part name="parameters" element="tns:ListarDetalleFactura"/>
</message>
<message name="ListarDetalleFacturaResponse">
<part name="parameters" element="tns:ListarDetalleFacturaResponse"/>
</message>
<message name="listarEmpleadoporSueldo">
<part name="parameters" element="tns:listarEmpleadoporSueldo"/>
</message>
<message name="listarEmpleadoporSueldoResponse">
<part name="parameters" element="tns:listarEmpleadoporSueldoResponse"/>
</message>
<message name="getFacturaId">
<part name="parameters" element="tns:getFacturaId"/>
</message>
<message name="getFacturaIdResponse">
<part name="parameters" element="tns:getFacturaIdResponse"/>
</message>
<message name="MostrarModificarP">
<part name="parameters" element="tns:MostrarModificarP"/>
</message>
<message name="MostrarModificarPResponse">
<part name="parameters" element="tns:MostrarModificarPResponse"/>
</message>
<message name="DetallesAbastecimientosss">
<part name="parameters" element="tns:DetallesAbastecimientosss"/>
</message>
<message name="DetallesAbastecimientosssResponse">
<part name="parameters" element="tns:DetallesAbastecimientosssResponse"/>
</message>
<message name="listarProveedores2">
<part name="parameters" element="tns:listarProveedores2"/>
</message>
<message name="listarProveedores2Response">
<part name="parameters" element="tns:listarProveedores2Response"/>
</message>
<message name="getComprasDetalles">
<part name="parameters" element="tns:getComprasDetalles"/>
</message>
<message name="getComprasDetallesResponse">
<part name="parameters" element="tns:getComprasDetallesResponse"/>
</message>
<message name="ListarProductosGINO">
<part name="parameters" element="tns:ListarProductosGINO"/>
</message>
<message name="ListarProductosGINOResponse">
<part name="parameters" element="tns:ListarProductosGINOResponse"/>
</message>
<message name="getFacturaAbastecimiento">
<part name="parameters" element="tns:getFacturaAbastecimiento"/>
</message>
<message name="getFacturaAbastecimientoResponse">
<part name="parameters" element="tns:getFacturaAbastecimientoResponse"/>
</message>
<message name="getSumaDetalles">
<part name="parameters" element="tns:getSumaDetalles"/>
</message>
<message name="getSumaDetallesResponse">
<part name="parameters" element="tns:getSumaDetallesResponse"/>
</message>
<message name="ProductosModificar">
<part name="parameters" element="tns:ProductosModificar"/>
</message>
<message name="ProductosModificarResponse">
<part name="parameters" element="tns:ProductosModificarResponse"/>
</message>
<message name="buscarProveedorEmpleado">
<part name="parameters" element="tns:buscarProveedorEmpleado"/>
</message>
<message name="buscarProveedorEmpleadoResponse">
<part name="parameters" element="tns:buscarProveedorEmpleadoResponse"/>
</message>
<message name="ProductosBuscarEmp">
<part name="parameters" element="tns:ProductosBuscarEmp"/>
</message>
<message name="ProductosBuscarEmpResponse">
<part name="parameters" element="tns:ProductosBuscarEmpResponse"/>
</message>
<message name="listarProveedoresEmpleado">
<part name="parameters" element="tns:listarProveedoresEmpleado"/>
</message>
<message name="listarProveedoresEmpleadoResponse">
<part name="parameters" element="tns:listarProveedoresEmpleadoResponse"/>
</message>
<message name="MostrarModificarImagenPrincipal">
<part name="parameters" element="tns:MostrarModificarImagenPrincipal"/>
</message>
<message name="MostrarModificarImagenPrincipalResponse">
<part name="parameters" element="tns:MostrarModificarImagenPrincipalResponse"/>
</message>
<message name="ingresarDetalleCompra">
<part name="parameters" element="tns:ingresarDetalleCompra"/>
</message>
<message name="ingresarDetalleCompraResponse">
<part name="parameters" element="tns:ingresarDetalleCompraResponse"/>
</message>
<message name="ListarProveedoresCompra">
<part name="parameters" element="tns:ListarProveedoresCompra"/>
</message>
<message name="ListarProveedoresCompraResponse">
<part name="parameters" element="tns:ListarProveedoresCompraResponse"/>
</message>
<message name="ProductoscomoCliente">
<part name="parameters" element="tns:ProductoscomoCliente"/>
</message>
<message name="ProductoscomoClienteResponse">
<part name="parameters" element="tns:ProductoscomoClienteResponse"/>
</message>
<portType name="factimeLogicaNegocio_directorio">
<operation name="ModificarProducto">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ModificarProductoRequest" message="tns:ModificarProducto"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ModificarProductoResponse" message="tns:ModificarProductoResponse"/>
</operation>
<operation name="modificarEmpleado">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/modificarEmpleadoRequest" message="tns:modificarEmpleado"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/modificarEmpleadoResponse" message="tns:modificarEmpleadoResponse"/>
</operation>
<operation name="ListarEmpleados">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarEmpleadosRequest" message="tns:ListarEmpleados"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarEmpleadosResponse" message="tns:ListarEmpleadosResponse"/>
</operation>
<operation name="ingresarCliente">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarClienteRequest" message="tns:ingresarCliente"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarClienteResponse" message="tns:ingresarClienteResponse"/>
</operation>
<operation name="ingresarProducto">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarProductoRequest" message="tns:ingresarProducto"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarProductoResponse" message="tns:ingresarProductoResponse"/>
</operation>
<operation name="listarEmpleado">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarEmpleadoRequest" message="tns:listarEmpleado"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarEmpleadoResponse" message="tns:listarEmpleadoResponse"/>
</operation>
<operation name="ProductoscomoEmp">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductoscomoEmpRequest" message="tns:ProductoscomoEmp"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductoscomoEmpResponse" message="tns:ProductoscomoEmpResponse"/>
</operation>
<operation name="ProductosBuscar">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosBuscarRequest" message="tns:ProductosBuscar"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosBuscarResponse" message="tns:ProductosBuscarResponse"/>
</operation>
<operation name="getDetalles">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getDetallesRequest" message="tns:getDetalles"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getDetallesResponse" message="tns:getDetallesResponse"/>
</operation>
<operation name="subtotalFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/subtotalFacturaRequest" message="tns:subtotalFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/subtotalFacturaResponse" message="tns:subtotalFacturaResponse"/>
</operation>
<operation name="borraDetalle">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/borraDetalleRequest" message="tns:borraDetalle"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/borraDetalleResponse" message="tns:borraDetalleResponse"/>
</operation>
<operation name="sumaDetalles">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/sumaDetallesRequest" message="tns:sumaDetalles"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/sumaDetallesResponse" message="tns:sumaDetallesResponse"/>
</operation>
<operation name="listarFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturaRequest" message="tns:listarFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturaResponse" message="tns:listarFacturaResponse"/>
</operation>
<operation name="getClientesTodos">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getClientesTodosRequest" message="tns:getClientesTodos"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getClientesTodosResponse" message="tns:getClientesTodosResponse"/>
</operation>
<operation name="getClientes">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getClientesRequest" message="tns:getClientes"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getClientesResponse" message="tns:getClientesResponse"/>
</operation>
<operation name="getDetallesVer">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getDetallesVerRequest" message="tns:getDetallesVer"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getDetallesVerResponse" message="tns:getDetallesVerResponse"/>
</operation>
<operation name="getFacturas">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturasRequest" message="tns:getFacturas"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturasResponse" message="tns:getFacturasResponse"/>
</operation>
<operation name="Productos">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosRequest" message="tns:Productos"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosResponse" message="tns:ProductosResponse"/>
</operation>
<operation name="buscarComprass">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarComprassRequest" message="tns:buscarComprass"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarComprassResponse" message="tns:buscarComprassResponse"/>
</operation>
<operation name="getEmpleados">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getEmpleadosRequest" message="tns:getEmpleados"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getEmpleadosResponse" message="tns:getEmpleadosResponse"/>
</operation>
<operation name="Empleado1">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/Empleado1Request" message="tns:Empleado1"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/Empleado1Response" message="tns:Empleado1Response"/>
</operation>
<operation name="aa">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/aaRequest" message="tns:aa"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/aaResponse" message="tns:aaResponse"/>
</operation>
<operation name="modificarCliente">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/modificarClienteRequest" message="tns:modificarCliente"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/modificarClienteResponse" message="tns:modificarClienteResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="buscarProveedor">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarProveedorRequest" message="tns:buscarProveedor"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarProveedorResponse" message="tns:buscarProveedorResponse"/>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarClienteRequest" message="tns:listarCliente"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarClienteResponse" message="tns:listarClienteResponse"/>
</operation>
<operation name="ingresarMarca">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarMarcaRequest" message="tns:ingresarMarca"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarMarcaResponse" message="tns:ingresarMarcaResponse"/>
</operation>
<operation name="buscarClientes">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarClientesRequest" message="tns:buscarClientes"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarClientesResponse" message="tns:buscarClientesResponse"/>
</operation>
<operation name="NumeroFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/NumeroFacturaRequest" message="tns:NumeroFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/NumeroFacturaResponse" message="tns:NumeroFacturaResponse"/>
</operation>
<operation name="listarMarcas">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarMarcasRequest" message="tns:listarMarcas"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarMarcasResponse" message="tns:listarMarcasResponse"/>
</operation>
<operation name="ingresarFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarFacturaRequest" message="tns:ingresarFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarFacturaResponse" message="tns:ingresarFacturaResponse"/>
</operation>
<operation name="ingresarCompra">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarCompraRequest" message="tns:ingresarCompra"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarCompraResponse" message="tns:ingresarCompraResponse"/>
</operation>
<operation name="listarProveedor1">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedor1Request" message="tns:listarProveedor1"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedor1Response" message="tns:listarProveedor1Response"/>
</operation>
<operation name="elimibarRutaImgP">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/elimibarRutaImgPRequest" message="tns:elimibarRutaImgP"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/elimibarRutaImgPResponse" message="tns:elimibarRutaImgPResponse"/>
</operation>
<operation name="ingresarImgP">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarImgPRequest" message="tns:ingresarImgP"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarImgPResponse" message="tns:ingresarImgPResponse"/>
</operation>
<operation name="autenticacionCliente">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/autenticacionClienteRequest" message="tns:autenticacionCliente"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/autenticacionClienteResponse" message="tns:autenticacionClienteResponse"/>
</operation>
<operation name="autenticacionEmpleado">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/autenticacionEmpleadoRequest" message="tns:autenticacionEmpleado"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/autenticacionEmpleadoResponse" message="tns:autenticacionEmpleadoResponse"/>
</operation>
<operation name="TestModificarEmpleado">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/TestModificarEmpleadoRequest" message="tns:TestModificarEmpleado"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/TestModificarEmpleadoResponse" message="tns:TestModificarEmpleadoResponse"/>
</operation>
<operation name="ingresarProveedor">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarProveedorRequest" message="tns:ingresarProveedor"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarProveedorResponse" message="tns:ingresarProveedorResponse"/>
</operation>
<operation name="ingresarProcedencia">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarProcedenciaRequest" message="tns:ingresarProcedencia"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarProcedenciaResponse" message="tns:ingresarProcedenciaResponse"/>
</operation>
<operation name="listarProcedencias">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProcedenciasRequest" message="tns:listarProcedencias"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProcedenciasResponse" message="tns:listarProcedenciasResponse"/>
</operation>
<operation name="mejorcompraClientes">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/mejorcompraClientesRequest" message="tns:mejorcompraClientes"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/mejorcompraClientesResponse" message="tns:mejorcompraClientesResponse"/>
</operation>
<operation name="ListarProductosCompra">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductosCompraRequest" message="tns:ListarProductosCompra"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductosCompraResponse" message="tns:ListarProductosCompraResponse"/>
</operation>
<operation name="listarFacturasActivasAbastece">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasActivasAbasteceRequest" message="tns:listarFacturasActivasAbastece"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasActivasAbasteceResponse" message="tns:listarFacturasActivasAbasteceResponse"/>
</operation>
<operation name="listarFacturasconComprasAltas">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasconComprasAltasRequest" message="tns:listarFacturasconComprasAltas"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasconComprasAltasResponse" message="tns:listarFacturasconComprasAltasResponse"/>
</operation>
<operation name="listarFacturasAnuladas">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasAnuladasRequest" message="tns:listarFacturasAnuladas"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasAnuladasResponse" message="tns:listarFacturasAnuladasResponse"/>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedoresRequest" message="tns:listarProveedores"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedoresResponse" message="tns:listarProveedoresResponse"/>
</operation>
<operation name="listarFacturasporFecha">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasporFechaRequest" message="tns:listarFacturasporFecha"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasporFechaResponse" message="tns:listarFacturasporFechaResponse"/>
</operation>
<operation name="listarProductosMasVendidos">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProductosMasVendidosRequest" message="tns:listarProductosMasVendidos"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProductosMasVendidosResponse" message="tns:listarProductosMasVendidosResponse"/>
</operation>
<operation name="listarComprasAnuladas">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarComprasAnuladasRequest" message="tns:listarComprasAnuladas"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarComprasAnuladasResponse" message="tns:listarComprasAnuladasResponse"/>
</operation>
<operation name="ListarProductosFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductosFacturaRequest" message="tns:ListarProductosFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductosFacturaResponse" message="tns:ListarProductosFacturaResponse"/>
</operation>
<operation name="modificarProveedor">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/modificarProveedorRequest" message="tns:modificarProveedor"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/modificarProveedorResponse" message="tns:modificarProveedorResponse"/>
</operation>
<operation name="CambiarEstadoFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/CambiarEstadoFacturaRequest" message="tns:CambiarEstadoFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/CambiarEstadoFacturaResponse" message="tns:CambiarEstadoFacturaResponse"/>
</operation>
<operation name="CambiarEstadoFacturaAbastece">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/CambiarEstadoFacturaAbasteceRequest" message="tns:CambiarEstadoFacturaAbastece"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/CambiarEstadoFacturaAbasteceResponse" message="tns:CambiarEstadoFacturaAbasteceResponse"/>
</operation>
<operation name="listarEmpleadoTiempo">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarEmpleadoTiempoRequest" message="tns:listarEmpleadoTiempo"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarEmpleadoTiempoResponse" message="tns:listarEmpleadoTiempoResponse"/>
</operation>
<operation name="listarFacturasNoAnuladas">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasNoAnuladasRequest" message="tns:listarFacturasNoAnuladas"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarFacturasNoAnuladasResponse" message="tns:listarFacturasNoAnuladasResponse"/>
</operation>
<operation name="ModificarEmpleadoB">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ModificarEmpleadoBRequest" message="tns:ModificarEmpleadoB"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ModificarEmpleadoBResponse" message="tns:ModificarEmpleadoBResponse"/>
</operation>
<operation name="getFacturaIdVer">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturaIdVerRequest" message="tns:getFacturaIdVer"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturaIdVerResponse" message="tns:getFacturaIdVerResponse"/>
</operation>
<operation name="ListarClientes">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarClientesRequest" message="tns:ListarClientes"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarClientesResponse" message="tns:ListarClientesResponse"/>
</operation>
<operation name="getProductos">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getProductosRequest" message="tns:getProductos"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getProductosResponse" message="tns:getProductosResponse"/>
</operation>
<operation name="ListarClientesFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarClientesFacturaRequest" message="tns:ListarClientesFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarClientesFacturaResponse" message="tns:ListarClientesFacturaResponse"/>
</operation>
<operation name="getProductosFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getProductosFacturaRequest" message="tns:getProductosFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getProductosFacturaResponse" message="tns:getProductosFacturaResponse"/>
</operation>
<operation name="getFacturasCli">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturasCliRequest" message="tns:getFacturasCli"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturasCliResponse" message="tns:getFacturasCliResponse"/>
</operation>
<operation name="getFacturasVer">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturasVerRequest" message="tns:getFacturasVer"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturasVerResponse" message="tns:getFacturasVerResponse"/>
</operation>
<operation name="listarMasFrecuentesCliente">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarMasFrecuentesClienteRequest" message="tns:listarMasFrecuentesCliente"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarMasFrecuentesClienteResponse" message="tns:listarMasFrecuentesClienteResponse"/>
</operation>
<operation name="getClientesFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getClientesFacturaRequest" message="tns:getClientesFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getClientesFacturaResponse" message="tns:getClientesFacturaResponse"/>
</operation>
<operation name="ListarProductoFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductoFacturaRequest" message="tns:ListarProductoFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductoFacturaResponse" message="tns:ListarProductoFacturaResponse"/>
</operation>
<operation name="ingresarDetalleFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarDetalleFacturaRequest" message="tns:ingresarDetalleFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarDetalleFacturaResponse" message="tns:ingresarDetalleFacturaResponse"/>
</operation>
<operation name="ListarDetalleFactura">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarDetalleFacturaRequest" message="tns:ListarDetalleFactura"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarDetalleFacturaResponse" message="tns:ListarDetalleFacturaResponse"/>
</operation>
<operation name="listarEmpleadoporSueldo">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarEmpleadoporSueldoRequest" message="tns:listarEmpleadoporSueldo"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarEmpleadoporSueldoResponse" message="tns:listarEmpleadoporSueldoResponse"/>
</operation>
<operation name="getFacturaId">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturaIdRequest" message="tns:getFacturaId"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturaIdResponse" message="tns:getFacturaIdResponse"/>
</operation>
<operation name="MostrarModificarP">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/MostrarModificarPRequest" message="tns:MostrarModificarP"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/MostrarModificarPResponse" message="tns:MostrarModificarPResponse"/>
</operation>
<operation name="DetallesAbastecimientosss">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/DetallesAbastecimientosssRequest" message="tns:DetallesAbastecimientosss"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/DetallesAbastecimientosssResponse" message="tns:DetallesAbastecimientosssResponse"/>
</operation>
<operation name="listarProveedores2">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedores2Request" message="tns:listarProveedores2"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedores2Response" message="tns:listarProveedores2Response"/>
</operation>
<operation name="getComprasDetalles">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getComprasDetallesRequest" message="tns:getComprasDetalles"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getComprasDetallesResponse" message="tns:getComprasDetallesResponse"/>
</operation>
<operation name="ListarProductosGINO">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductosGINORequest" message="tns:ListarProductosGINO"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProductosGINOResponse" message="tns:ListarProductosGINOResponse"/>
</operation>
<operation name="getFacturaAbastecimiento">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturaAbastecimientoRequest" message="tns:getFacturaAbastecimiento"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getFacturaAbastecimientoResponse" message="tns:getFacturaAbastecimientoResponse"/>
</operation>
<operation name="getSumaDetalles">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getSumaDetallesRequest" message="tns:getSumaDetalles"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/getSumaDetallesResponse" message="tns:getSumaDetallesResponse"/>
</operation>
<operation name="ProductosModificar">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosModificarRequest" message="tns:ProductosModificar"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosModificarResponse" message="tns:ProductosModificarResponse"/>
</operation>
<operation name="buscarProveedorEmpleado">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarProveedorEmpleadoRequest" message="tns:buscarProveedorEmpleado"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/buscarProveedorEmpleadoResponse" message="tns:buscarProveedorEmpleadoResponse"/>
</operation>
<operation name="ProductosBuscarEmp">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosBuscarEmpRequest" message="tns:ProductosBuscarEmp"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductosBuscarEmpResponse" message="tns:ProductosBuscarEmpResponse"/>
</operation>
<operation name="listarProveedoresEmpleado">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedoresEmpleadoRequest" message="tns:listarProveedoresEmpleado"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/listarProveedoresEmpleadoResponse" message="tns:listarProveedoresEmpleadoResponse"/>
</operation>
<operation name="MostrarModificarImagenPrincipal">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/MostrarModificarImagenPrincipalRequest" message="tns:MostrarModificarImagenPrincipal"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/MostrarModificarImagenPrincipalResponse" message="tns:MostrarModificarImagenPrincipalResponse"/>
</operation>
<operation name="ingresarDetalleCompra">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarDetalleCompraRequest" message="tns:ingresarDetalleCompra"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ingresarDetalleCompraResponse" message="tns:ingresarDetalleCompraResponse"/>
</operation>
<operation name="ListarProveedoresCompra">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProveedoresCompraRequest" message="tns:ListarProveedoresCompra"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ListarProveedoresCompraResponse" message="tns:ListarProveedoresCompraResponse"/>
</operation>
<operation name="ProductoscomoCliente">
<input wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductoscomoClienteRequest" message="tns:ProductoscomoCliente"/>
<output wsam:Action="http://ws.ln.factime.com/factimeLogicaNegocio_directorio/ProductoscomoClienteResponse" message="tns:ProductoscomoClienteResponse"/>
</operation>
</portType>
<binding name="factimeLogicaNegocio_directorioPortBinding" type="tns:factimeLogicaNegocio_directorio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ModificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductoscomoEmp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductosBuscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtotalFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borraDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumaDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientesTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetallesVer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Productos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarComprass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Empleado1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumeroFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMarcas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedor1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimibarRutaImgP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarImgP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticacionCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticacionEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TestModificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProcedencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProcedencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorcompraClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProductosCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasActivasAbastece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasconComprasAltas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasAnuladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasporFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductosMasVendidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarComprasAnuladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProductosFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CambiarEstadoFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CambiarEstadoFacturaAbastece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleadoTiempo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasNoAnuladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEmpleadoB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturaIdVer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarClientesFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductosFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturasCli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturasVer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMasFrecuentesCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientesFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProductoFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarDetalleFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarDetalleFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleadoporSueldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturaId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarModificarP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DetallesAbastecimientosss">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedores2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComprasDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProductosGINO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturaAbastecimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSumaDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductosModificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProveedorEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductosBuscarEmp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedoresEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarModificarImagenPrincipal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarDetalleCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProveedoresCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductoscomoCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="factimeLogicaNegocio_directorio">
<port name="factimeLogicaNegocio_directorioPort" binding="tns:factimeLogicaNegocio_directorioPortBinding">
<soap:address location="http://localhost:8080/iejsaLN_DIRECTORIO/factimeLogicaNegocio_directorio"/>
</port>
</service>
</definitions>