web/WEB-INF/wsdl/localhost_8080/afernandezAD/factimeAccesoDatos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServicioWeb.factime.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServicioWeb.factime.com/" name="factimeAccesoDatos">
<types>
<xsd:schema>
<xsd:import namespace="http://ServicioWeb.factime.com/" schemaLocation="http://localhost:8080/afernandezAD/factimeAccesoDatos?xsd=1"/>
</xsd:schema>
</types>
<message name="ComprasDetalles">
<part name="parameters" element="tns:ComprasDetalles"/>
</message>
<message name="ComprasDetallesResponse">
<part name="parameters" element="tns:ComprasDetallesResponse"/>
</message>
<message name="ListarEmpleados">
<part name="parameters" element="tns:ListarEmpleados"/>
</message>
<message name="ListarEmpleadosResponse">
<part name="parameters" element="tns:ListarEmpleadosResponse"/>
</message>
<message name="ModificarEmplead">
<part name="parameters" element="tns:ModificarEmplead"/>
</message>
<message name="ModificarEmpleadResponse">
<part name="parameters" element="tns:ModificarEmpleadResponse"/>
</message>
<message name="SumaDetalles">
<part name="parameters" element="tns:SumaDetalles"/>
</message>
<message name="SumaDetallesResponse">
<part name="parameters" element="tns:SumaDetallesResponse"/>
</message>
<message name="BuscarFactura">
<part name="parameters" element="tns:BuscarFactura"/>
</message>
<message name="BuscarFacturaResponse">
<part name="parameters" element="tns:BuscarFacturaResponse"/>
</message>
<message name="GetFacturaVer">
<part name="parameters" element="tns:GetFacturaVer"/>
</message>
<message name="GetFacturaVerResponse">
<part name="parameters" element="tns:GetFacturaVerResponse"/>
</message>
<message name="GetDetallesVer">
<part name="parameters" element="tns:GetDetallesVer"/>
</message>
<message name="GetDetallesVerResponse">
<part name="parameters" element="tns:GetDetallesVerResponse"/>
</message>
<message name="NumeroFactura">
<part name="parameters" element="tns:NumeroFactura"/>
</message>
<message name="NumeroFacturaResponse">
<part name="parameters" element="tns:NumeroFacturaResponse"/>
</message>
<message name="GetDetalles">
<part name="parameters" element="tns:GetDetalles"/>
</message>
<message name="GetDetallesResponse">
<part name="parameters" element="tns:GetDetallesResponse"/>
</message>
<message name="SubtotalFactura">
<part name="parameters" element="tns:SubtotalFactura"/>
</message>
<message name="SubtotalFacturaResponse">
<part name="parameters" element="tns:SubtotalFacturaResponse"/>
</message>
<message name="GetFactura">
<part name="parameters" element="tns:GetFactura"/>
</message>
<message name="GetFacturaResponse">
<part name="parameters" element="tns:GetFacturaResponse"/>
</message>
<message name="obtenerDetalles">
<part name="parameters" element="tns:obtenerDetalles"/>
</message>
<message name="obtenerDetallesResponse">
<part name="parameters" element="tns:obtenerDetallesResponse"/>
</message>
<message name="ingresarFactura">
<part name="parameters" element="tns:ingresarFactura"/>
</message>
<message name="ingresarFacturaResponse">
<part name="parameters" element="tns:ingresarFacturaResponse"/>
</message>
<message name="BuscarProducto">
<part name="parameters" element="tns:BuscarProducto"/>
</message>
<message name="BuscarProductoResponse">
<part name="parameters" element="tns:BuscarProductoResponse"/>
</message>
<message name="ingresarCompra">
<part name="parameters" element="tns:ingresarCompra"/>
</message>
<message name="ingresarCompraResponse">
<part name="parameters" element="tns:ingresarCompraResponse"/>
</message>
<message name="Buscar">
<part name="parameters" element="tns:Buscar"/>
</message>
<message name="BuscarResponse">
<part name="parameters" element="tns:BuscarResponse"/>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"/>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"/>
</message>
<message name="getClientes">
<part name="parameters" element="tns:getClientes"/>
</message>
<message name="getClientesResponse">
<part name="parameters" element="tns:getClientesResponse"/>
</message>
<message name="ListaProveedores">
<part name="parameters" element="tns:ListaProveedores"/>
</message>
<message name="ListaProveedoresResponse">
<part name="parameters" element="tns:ListaProveedoresResponse"/>
</message>
<message name="listarProveedor1">
<part name="parameters" element="tns:listarProveedor1"/>
</message>
<message name="listarProveedor1Response">
<part name="parameters" element="tns:listarProveedor1Response"/>
</message>
<message name="ingresarEmpleado">
<part name="parameters" element="tns:ingresarEmpleado"/>
</message>
<message name="ingresarEmpleadoResponse">
<part name="parameters" element="tns:ingresarEmpleadoResponse"/>
</message>
<message name="BuscarClienteM">
<part name="parameters" element="tns:BuscarClienteM"/>
</message>
<message name="BuscarClienteMResponse">
<part name="parameters" element="tns:BuscarClienteMResponse"/>
</message>
<message name="ingresarProducto">
<part name="parameters" element="tns:ingresarProducto"/>
</message>
<message name="ingresarProductoResponse">
<part name="parameters" element="tns:ingresarProductoResponse"/>
</message>
<message name="listarEmpleado">
<part name="parameters" element="tns:listarEmpleado"/>
</message>
<message name="listarEmpleadoResponse">
<part name="parameters" element="tns:listarEmpleadoResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="ingresarMarca">
<part name="parameters" element="tns:ingresarMarca"/>
</message>
<message name="ingresarMarcaResponse">
<part name="parameters" element="tns:ingresarMarcaResponse"/>
</message>
<message name="listarMarcas">
<part name="parameters" element="tns:listarMarcas"/>
</message>
<message name="listarMarcasResponse">
<part name="parameters" element="tns:listarMarcasResponse"/>
</message>
<message name="buscarClientes">
<part name="parameters" element="tns:buscarClientes"/>
</message>
<message name="buscarClientesResponse">
<part name="parameters" element="tns:buscarClientesResponse"/>
</message>
<message name="modificarCliente">
<part name="parameters" element="tns:modificarCliente"/>
</message>
<message name="modificarClienteResponse">
<part name="parameters" element="tns:modificarClienteResponse"/>
</message>
<message name="buscarEmpleados">
<part name="parameters" element="tns:buscarEmpleados"/>
</message>
<message name="buscarEmpleadosResponse">
<part name="parameters" element="tns:buscarEmpleadosResponse"/>
</message>
<message name="ListarFactura">
<part name="parameters" element="tns:ListarFactura"/>
</message>
<message name="ListarFacturaResponse">
<part name="parameters" element="tns:ListarFacturaResponse"/>
</message>
<message name="BorraDetalle">
<part name="parameters" element="tns:BorraDetalle"/>
</message>
<message name="BorraDetalleResponse">
<part name="parameters" element="tns:BorraDetalleResponse"/>
</message>
<message name="buscarProveedor">
<part name="parameters" element="tns:buscarProveedor"/>
</message>
<message name="buscarProveedorResponse">
<part name="parameters" element="tns:buscarProveedorResponse"/>
</message>
<message name="BuscarComprass">
<part name="parameters" element="tns:BuscarComprass"/>
</message>
<message name="BuscarComprassResponse">
<part name="parameters" element="tns:BuscarComprassResponse"/>
</message>
<message name="ingresarProveedor">
<part name="parameters" element="tns:ingresarProveedor"/>
</message>
<message name="ingresarProveedorResponse">
<part name="parameters" element="tns:ingresarProveedorResponse"/>
</message>
<message name="autenticacionCliente">
<part name="parameters" element="tns:autenticacionCliente"/>
</message>
<message name="autenticacionClienteResponse">
<part name="parameters" element="tns:autenticacionClienteResponse"/>
</message>
<message name="autenticacionEmpleado">
<part name="parameters" element="tns:autenticacionEmpleado"/>
</message>
<message name="autenticacionEmpleadoResponse">
<part name="parameters" element="tns:autenticacionEmpleadoResponse"/>
</message>
<message name="listarProveedor">
<part name="parameters" element="tns:listarProveedor"/>
</message>
<message name="listarProveedorResponse">
<part name="parameters" element="tns:listarProveedorResponse"/>
</message>
<message name="modificarEmpleado">
<part name="parameters" element="tns:modificarEmpleado"/>
</message>
<message name="modificarEmpleadoResponse">
<part name="parameters" element="tns:modificarEmpleadoResponse"/>
</message>
<message name="listarFacturasAnuladas">
<part name="parameters" element="tns:listarFacturasAnuladas"/>
</message>
<message name="listarFacturasAnuladasResponse">
<part name="parameters" element="tns:listarFacturasAnuladasResponse"/>
</message>
<message name="ingresardetallefactura">
<part name="parameters" element="tns:ingresardetallefactura"/>
</message>
<message name="ingresardetallefacturaResponse">
<part name="parameters" element="tns:ingresardetallefacturaResponse"/>
</message>
<message name="listarFacturasActivasAbastece">
<part name="parameters" element="tns:listarFacturasActivasAbastece"/>
</message>
<message name="listarFacturasActivasAbasteceResponse">
<part name="parameters" element="tns:listarFacturasActivasAbasteceResponse"/>
</message>
<message name="modificarProveedor">
<part name="parameters" element="tns:modificarProveedor"/>
</message>
<message name="modificarProveedorResponse">
<part name="parameters" element="tns:modificarProveedorResponse"/>
</message>
<message name="listarEmpleadosporSueldo">
<part name="parameters" element="tns:listarEmpleadosporSueldo"/>
</message>
<message name="listarEmpleadosporSueldoResponse">
<part name="parameters" element="tns:listarEmpleadosporSueldoResponse"/>
</message>
<message name="BuscarProductosFactura">
<part name="parameters" element="tns:BuscarProductosFactura"/>
</message>
<message name="BuscarProductosFacturaResponse">
<part name="parameters" element="tns:BuscarProductosFacturaResponse"/>
</message>
<message name="listarMasFrecuentesCliente">
<part name="parameters" element="tns:listarMasFrecuentesCliente"/>
</message>
<message name="listarMasFrecuentesClienteResponse">
<part name="parameters" element="tns:listarMasFrecuentesClienteResponse"/>
</message>
<message name="listarTelefonoPersona">
<part name="parameters" element="tns:listarTelefonoPersona"/>
</message>
<message name="listarTelefonoPersonaResponse">
<part name="parameters" element="tns:listarTelefonoPersonaResponse"/>
</message>
<message name="TestModificarEmpleado">
<part name="parameters" element="tns:TestModificarEmpleado"/>
</message>
<message name="TestModificarEmpleadoResponse">
<part name="parameters" element="tns:TestModificarEmpleadoResponse"/>
</message>
<message name="listarProcedencias">
<part name="parameters" element="tns:listarProcedencias"/>
</message>
<message name="listarProcedenciasResponse">
<part name="parameters" element="tns:listarProcedenciasResponse"/>
</message>
<message name="mejorcompraClientes">
<part name="parameters" element="tns:mejorcompraClientes"/>
</message>
<message name="mejorcompraClientesResponse">
<part name="parameters" element="tns:mejorcompraClientesResponse"/>
</message>
<message name="listarFacturasporFecha">
<part name="parameters" element="tns:listarFacturasporFecha"/>
</message>
<message name="listarFacturasporFechaResponse">
<part name="parameters" element="tns:listarFacturasporFechaResponse"/>
</message>
<message name="ListarProductosFactura">
<part name="parameters" element="tns:ListarProductosFactura"/>
</message>
<message name="ListarProductosFacturaResponse">
<part name="parameters" element="tns:ListarProductosFacturaResponse"/>
</message>
<message name="DetallesAbastecimientoSSS">
<part name="parameters" element="tns:DetallesAbastecimientoSSS"/>
</message>
<message name="DetallesAbastecimientoSSSResponse">
<part name="parameters" element="tns:DetallesAbastecimientoSSSResponse"/>
</message>
<message name="listarFacturasNoAnuladas">
<part name="parameters" element="tns:listarFacturasNoAnuladas"/>
</message>
<message name="listarFacturasNoAnuladasResponse">
<part name="parameters" element="tns:listarFacturasNoAnuladasResponse"/>
</message>
<message name="listarEmpleadoTiempo">
<part name="parameters" element="tns:listarEmpleadoTiempo"/>
</message>
<message name="listarEmpleadoTiempoResponse">
<part name="parameters" element="tns:listarEmpleadoTiempoResponse"/>
</message>
<message name="GetFacturaAbastece">
<part name="parameters" element="tns:GetFacturaAbastece"/>
</message>
<message name="GetFacturaAbasteceResponse">
<part name="parameters" element="tns:GetFacturaAbasteceResponse"/>
</message>
<message name="listarProductosMasVendidos">
<part name="parameters" element="tns:listarProductosMasVendidos"/>
</message>
<message name="listarProductosMasVendidosResponse">
<part name="parameters" element="tns:listarProductosMasVendidosResponse"/>
</message>
<message name="CambiarEstadoFacturaAbastece">
<part name="parameters" element="tns:CambiarEstadoFacturaAbastece"/>
</message>
<message name="CambiarEstadoFacturaAbasteceResponse">
<part name="parameters" element="tns:CambiarEstadoFacturaAbasteceResponse"/>
</message>
<message name="listarTelefonoProveedor">
<part name="parameters" element="tns:listarTelefonoProveedor"/>
</message>
<message name="listarTelefonoProveedorResponse">
<part name="parameters" element="tns:listarTelefonoProveedorResponse"/>
</message>
<message name="listarFacturasconComprasAltas">
<part name="parameters" element="tns:listarFacturasconComprasAltas"/>
</message>
<message name="listarFacturasconComprasAltasResponse">
<part name="parameters" element="tns:listarFacturasconComprasAltasResponse"/>
</message>
<message name="listarComprasAnuladas">
<part name="parameters" element="tns:listarComprasAnuladas"/>
</message>
<message name="listarComprasAnuladasResponse">
<part name="parameters" element="tns:listarComprasAnuladasResponse"/>
</message>
<message name="CambiarEstadoFactura">
<part name="parameters" element="tns:CambiarEstadoFactura"/>
</message>
<message name="CambiarEstadoFacturaResponse">
<part name="parameters" element="tns:CambiarEstadoFacturaResponse"/>
</message>
<message name="ingresarProcedencia">
<part name="parameters" element="tns:ingresarProcedencia"/>
</message>
<message name="ingresarProcedenciaResponse">
<part name="parameters" element="tns:ingresarProcedenciaResponse"/>
</message>
<message name="ingresarCliente">
<part name="parameters" element="tns:ingresarCliente"/>
</message>
<message name="ingresarClienteResponse">
<part name="parameters" element="tns:ingresarClienteResponse"/>
</message>
<message name="BuscarProductoAModificar">
<part name="parameters" element="tns:BuscarProductoAModificar"/>
</message>
<message name="BuscarProductoAModificarResponse">
<part name="parameters" element="tns:BuscarProductoAModificarResponse"/>
</message>
<message name="ListarProductosCompra">
<part name="parameters" element="tns:ListarProductosCompra"/>
</message>
<message name="ListarProductosCompraResponse">
<part name="parameters" element="tns:ListarProductosCompraResponse"/>
</message>
<message name="IngresarDetalleCompra">
<part name="parameters" element="tns:IngresarDetalleCompra"/>
</message>
<message name="IngresarDetalleCompraResponse">
<part name="parameters" element="tns:IngresarDetalleCompraResponse"/>
</message>
<message name="BuscarEmpleadoModificar">
<part name="parameters" element="tns:BuscarEmpleadoModificar"/>
</message>
<message name="BuscarEmpleadoModificarResponse">
<part name="parameters" element="tns:BuscarEmpleadoModificarResponse"/>
</message>
<message name="ModificarProducto">
<part name="parameters" element="tns:ModificarProducto"/>
</message>
<message name="ModificarProductoResponse">
<part name="parameters" element="tns:ModificarProductoResponse"/>
</message>
<portType name="factimeAccesoDatos">
<operation name="ComprasDetalles">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ComprasDetallesRequest" message="tns:ComprasDetalles"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ComprasDetallesResponse" message="tns:ComprasDetallesResponse"/>
</operation>
<operation name="ListarEmpleados">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarEmpleadosRequest" message="tns:ListarEmpleados"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarEmpleadosResponse" message="tns:ListarEmpleadosResponse"/>
</operation>
<operation name="ModificarEmplead">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ModificarEmpleadRequest" message="tns:ModificarEmplead"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ModificarEmpleadResponse" message="tns:ModificarEmpleadResponse"/>
</operation>
<operation name="SumaDetalles">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/SumaDetallesRequest" message="tns:SumaDetalles"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/SumaDetallesResponse" message="tns:SumaDetallesResponse"/>
</operation>
<operation name="BuscarFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarFacturaRequest" message="tns:BuscarFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarFacturaResponse" message="tns:BuscarFacturaResponse"/>
</operation>
<operation name="GetFacturaVer">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetFacturaVerRequest" message="tns:GetFacturaVer"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetFacturaVerResponse" message="tns:GetFacturaVerResponse"/>
</operation>
<operation name="GetDetallesVer">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetDetallesVerRequest" message="tns:GetDetallesVer"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetDetallesVerResponse" message="tns:GetDetallesVerResponse"/>
</operation>
<operation name="NumeroFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/NumeroFacturaRequest" message="tns:NumeroFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/NumeroFacturaResponse" message="tns:NumeroFacturaResponse"/>
</operation>
<operation name="GetDetalles">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetDetallesRequest" message="tns:GetDetalles"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetDetallesResponse" message="tns:GetDetallesResponse"/>
</operation>
<operation name="SubtotalFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/SubtotalFacturaRequest" message="tns:SubtotalFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/SubtotalFacturaResponse" message="tns:SubtotalFacturaResponse"/>
</operation>
<operation name="GetFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetFacturaRequest" message="tns:GetFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetFacturaResponse" message="tns:GetFacturaResponse"/>
</operation>
<operation name="obtenerDetalles">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/obtenerDetallesRequest" message="tns:obtenerDetalles"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/obtenerDetallesResponse" message="tns:obtenerDetallesResponse"/>
</operation>
<operation name="ingresarFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarFacturaRequest" message="tns:ingresarFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarFacturaResponse" message="tns:ingresarFacturaResponse"/>
</operation>
<operation name="BuscarProducto">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarProductoRequest" message="tns:BuscarProducto"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarProductoResponse" message="tns:BuscarProductoResponse"/>
</operation>
<operation name="ingresarCompra">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarCompraRequest" message="tns:ingresarCompra"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarCompraResponse" message="tns:ingresarCompraResponse"/>
</operation>
<operation name="Buscar">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarRequest" message="tns:Buscar"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarResponse" message="tns:BuscarResponse"/>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarClienteRequest" message="tns:listarCliente"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarClienteResponse" message="tns:listarClienteResponse"/>
</operation>
<operation name="getClientes">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/getClientesRequest" message="tns:getClientes"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/getClientesResponse" message="tns:getClientesResponse"/>
</operation>
<operation name="ListaProveedores">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListaProveedoresRequest" message="tns:ListaProveedores"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListaProveedoresResponse" message="tns:ListaProveedoresResponse"/>
</operation>
<operation name="listarProveedor1">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProveedor1Request" message="tns:listarProveedor1"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProveedor1Response" message="tns:listarProveedor1Response"/>
</operation>
<operation name="ingresarEmpleado">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarEmpleadoRequest" message="tns:ingresarEmpleado"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarEmpleadoResponse" message="tns:ingresarEmpleadoResponse"/>
</operation>
<operation name="BuscarClienteM">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarClienteMRequest" message="tns:BuscarClienteM"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarClienteMResponse" message="tns:BuscarClienteMResponse"/>
</operation>
<operation name="ingresarProducto">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarProductoRequest" message="tns:ingresarProducto"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarProductoResponse" message="tns:ingresarProductoResponse"/>
</operation>
<operation name="listarEmpleado">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarEmpleadoRequest" message="tns:listarEmpleado"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarEmpleadoResponse" message="tns:listarEmpleadoResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="ingresarMarca">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarMarcaRequest" message="tns:ingresarMarca"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarMarcaResponse" message="tns:ingresarMarcaResponse"/>
</operation>
<operation name="listarMarcas">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarMarcasRequest" message="tns:listarMarcas"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarMarcasResponse" message="tns:listarMarcasResponse"/>
</operation>
<operation name="buscarClientes">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/buscarClientesRequest" message="tns:buscarClientes"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/buscarClientesResponse" message="tns:buscarClientesResponse"/>
</operation>
<operation name="modificarCliente">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/modificarClienteRequest" message="tns:modificarCliente"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/modificarClienteResponse" message="tns:modificarClienteResponse"/>
</operation>
<operation name="buscarEmpleados">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/buscarEmpleadosRequest" message="tns:buscarEmpleados"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/buscarEmpleadosResponse" message="tns:buscarEmpleadosResponse"/>
</operation>
<operation name="ListarFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarFacturaRequest" message="tns:ListarFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarFacturaResponse" message="tns:ListarFacturaResponse"/>
</operation>
<operation name="BorraDetalle">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BorraDetalleRequest" message="tns:BorraDetalle"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BorraDetalleResponse" message="tns:BorraDetalleResponse"/>
</operation>
<operation name="buscarProveedor">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/buscarProveedorRequest" message="tns:buscarProveedor"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/buscarProveedorResponse" message="tns:buscarProveedorResponse"/>
</operation>
<operation name="BuscarComprass">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarComprassRequest" message="tns:BuscarComprass"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarComprassResponse" message="tns:BuscarComprassResponse"/>
</operation>
<operation name="ingresarProveedor">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarProveedorRequest" message="tns:ingresarProveedor"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarProveedorResponse" message="tns:ingresarProveedorResponse"/>
</operation>
<operation name="autenticacionCliente">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/autenticacionClienteRequest" message="tns:autenticacionCliente"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/autenticacionClienteResponse" message="tns:autenticacionClienteResponse"/>
</operation>
<operation name="autenticacionEmpleado">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/autenticacionEmpleadoRequest" message="tns:autenticacionEmpleado"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/autenticacionEmpleadoResponse" message="tns:autenticacionEmpleadoResponse"/>
</operation>
<operation name="listarProveedor">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProveedorRequest" message="tns:listarProveedor"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProveedorResponse" message="tns:listarProveedorResponse"/>
</operation>
<operation name="modificarEmpleado">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/modificarEmpleadoRequest" message="tns:modificarEmpleado"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/modificarEmpleadoResponse" message="tns:modificarEmpleadoResponse"/>
</operation>
<operation name="listarFacturasAnuladas">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasAnuladasRequest" message="tns:listarFacturasAnuladas"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasAnuladasResponse" message="tns:listarFacturasAnuladasResponse"/>
</operation>
<operation name="ingresardetallefactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresardetallefacturaRequest" message="tns:ingresardetallefactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresardetallefacturaResponse" message="tns:ingresardetallefacturaResponse"/>
</operation>
<operation name="listarFacturasActivasAbastece">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasActivasAbasteceRequest" message="tns:listarFacturasActivasAbastece"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasActivasAbasteceResponse" message="tns:listarFacturasActivasAbasteceResponse"/>
</operation>
<operation name="modificarProveedor">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/modificarProveedorRequest" message="tns:modificarProveedor"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/modificarProveedorResponse" message="tns:modificarProveedorResponse"/>
</operation>
<operation name="listarEmpleadosporSueldo">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarEmpleadosporSueldoRequest" message="tns:listarEmpleadosporSueldo"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarEmpleadosporSueldoResponse" message="tns:listarEmpleadosporSueldoResponse"/>
</operation>
<operation name="BuscarProductosFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarProductosFacturaRequest" message="tns:BuscarProductosFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarProductosFacturaResponse" message="tns:BuscarProductosFacturaResponse"/>
</operation>
<operation name="listarMasFrecuentesCliente">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarMasFrecuentesClienteRequest" message="tns:listarMasFrecuentesCliente"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarMasFrecuentesClienteResponse" message="tns:listarMasFrecuentesClienteResponse"/>
</operation>
<operation name="listarTelefonoPersona">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarTelefonoPersonaRequest" message="tns:listarTelefonoPersona"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarTelefonoPersonaResponse" message="tns:listarTelefonoPersonaResponse"/>
</operation>
<operation name="TestModificarEmpleado">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/TestModificarEmpleadoRequest" message="tns:TestModificarEmpleado"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/TestModificarEmpleadoResponse" message="tns:TestModificarEmpleadoResponse"/>
</operation>
<operation name="listarProcedencias">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProcedenciasRequest" message="tns:listarProcedencias"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProcedenciasResponse" message="tns:listarProcedenciasResponse"/>
</operation>
<operation name="mejorcompraClientes">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/mejorcompraClientesRequest" message="tns:mejorcompraClientes"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/mejorcompraClientesResponse" message="tns:mejorcompraClientesResponse"/>
</operation>
<operation name="listarFacturasporFecha">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasporFechaRequest" message="tns:listarFacturasporFecha"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasporFechaResponse" message="tns:listarFacturasporFechaResponse"/>
</operation>
<operation name="ListarProductosFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarProductosFacturaRequest" message="tns:ListarProductosFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarProductosFacturaResponse" message="tns:ListarProductosFacturaResponse"/>
</operation>
<operation name="DetallesAbastecimientoSSS">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/DetallesAbastecimientoSSSRequest" message="tns:DetallesAbastecimientoSSS"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/DetallesAbastecimientoSSSResponse" message="tns:DetallesAbastecimientoSSSResponse"/>
</operation>
<operation name="listarFacturasNoAnuladas">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasNoAnuladasRequest" message="tns:listarFacturasNoAnuladas"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasNoAnuladasResponse" message="tns:listarFacturasNoAnuladasResponse"/>
</operation>
<operation name="listarEmpleadoTiempo">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarEmpleadoTiempoRequest" message="tns:listarEmpleadoTiempo"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarEmpleadoTiempoResponse" message="tns:listarEmpleadoTiempoResponse"/>
</operation>
<operation name="GetFacturaAbastece">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetFacturaAbasteceRequest" message="tns:GetFacturaAbastece"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/GetFacturaAbasteceResponse" message="tns:GetFacturaAbasteceResponse"/>
</operation>
<operation name="listarProductosMasVendidos">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProductosMasVendidosRequest" message="tns:listarProductosMasVendidos"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarProductosMasVendidosResponse" message="tns:listarProductosMasVendidosResponse"/>
</operation>
<operation name="CambiarEstadoFacturaAbastece">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/CambiarEstadoFacturaAbasteceRequest" message="tns:CambiarEstadoFacturaAbastece"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/CambiarEstadoFacturaAbasteceResponse" message="tns:CambiarEstadoFacturaAbasteceResponse"/>
</operation>
<operation name="listarTelefonoProveedor">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarTelefonoProveedorRequest" message="tns:listarTelefonoProveedor"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarTelefonoProveedorResponse" message="tns:listarTelefonoProveedorResponse"/>
</operation>
<operation name="listarFacturasconComprasAltas">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasconComprasAltasRequest" message="tns:listarFacturasconComprasAltas"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarFacturasconComprasAltasResponse" message="tns:listarFacturasconComprasAltasResponse"/>
</operation>
<operation name="listarComprasAnuladas">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarComprasAnuladasRequest" message="tns:listarComprasAnuladas"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/listarComprasAnuladasResponse" message="tns:listarComprasAnuladasResponse"/>
</operation>
<operation name="CambiarEstadoFactura">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/CambiarEstadoFacturaRequest" message="tns:CambiarEstadoFactura"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/CambiarEstadoFacturaResponse" message="tns:CambiarEstadoFacturaResponse"/>
</operation>
<operation name="ingresarProcedencia">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarProcedenciaRequest" message="tns:ingresarProcedencia"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarProcedenciaResponse" message="tns:ingresarProcedenciaResponse"/>
</operation>
<operation name="ingresarCliente">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarClienteRequest" message="tns:ingresarCliente"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ingresarClienteResponse" message="tns:ingresarClienteResponse"/>
</operation>
<operation name="BuscarProductoAModificar">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarProductoAModificarRequest" message="tns:BuscarProductoAModificar"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarProductoAModificarResponse" message="tns:BuscarProductoAModificarResponse"/>
</operation>
<operation name="ListarProductosCompra">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarProductosCompraRequest" message="tns:ListarProductosCompra"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ListarProductosCompraResponse" message="tns:ListarProductosCompraResponse"/>
</operation>
<operation name="IngresarDetalleCompra">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/IngresarDetalleCompraRequest" message="tns:IngresarDetalleCompra"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/IngresarDetalleCompraResponse" message="tns:IngresarDetalleCompraResponse"/>
</operation>
<operation name="BuscarEmpleadoModificar">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarEmpleadoModificarRequest" message="tns:BuscarEmpleadoModificar"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/BuscarEmpleadoModificarResponse" message="tns:BuscarEmpleadoModificarResponse"/>
</operation>
<operation name="ModificarProducto">
<input wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ModificarProductoRequest" message="tns:ModificarProducto"/>
<output wsam:Action="http://ServicioWeb.factime.com/factimeAccesoDatos/ModificarProductoResponse" message="tns:ModificarProductoResponse"/>
</operation>
</portType>
<binding name="factimeAccesoDatosPortBinding" type="tns:factimeAccesoDatos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ComprasDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEmplead">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SumaDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFacturaVer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetDetallesVer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumeroFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubtotalFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedor1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarClienteM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMarcas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BorraDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarComprass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticacionCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticacionEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasAnuladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresardetallefactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasActivasAbastece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleadosporSueldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProductosFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMasFrecuentesCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTelefonoPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TestModificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProcedencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorcompraClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasporFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProductosFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DetallesAbastecimientoSSS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasNoAnuladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleadoTiempo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFacturaAbastece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductosMasVendidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CambiarEstadoFacturaAbastece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTelefonoProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFacturasconComprasAltas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarComprasAnuladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CambiarEstadoFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProcedencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProductoAModificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProductosCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarDetalleCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarEmpleadoModificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="factimeAccesoDatos">
<port name="factimeAccesoDatosPort" binding="tns:factimeAccesoDatosPortBinding">
<soap:address location="http://localhost:8080/afernandezAD/factimeAccesoDatos"/>
</port>
</service>
</definitions>